/* styles.css */

header {
    background-color: #006b09;
    border-bottom: 5px solid #07b148;
    color: white;
    width: 100%;
    padding: 15px;
    height: 80px;
    font-size: 400%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

main h2, aside h2 {
    color: black;
    border-bottom: 4px solid #07b148;
    padding-bottom: 5px;
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

main {
    border: dashed 0.2rem #006b09;
    border-radius: 25px;
    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
    min-height: 200%;
    margin: 45px 0 0 20px;
    padding: 15px;
    height: auto;
    flex-grow: 1;
    max-width: 70%;
}

aside {
    border: dashed 0.2rem #006b09;
    border-radius: 25px;
    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
    margin: 45px 20px 0px 40px;
    padding: 15px;
    flex-grow: 0.25;
    min-width: 20%;
}

footer {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 15px;
    height: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.post p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post h1 {
    margin-top: 0;
}

.post button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: #cf3a15;
    border-radius: 5px;
    color: white;
}

.archive-btn {
    background-color: #A3AE9E;
    border-radius: 5px;
    color: white;
}

.buttons-container {
    text-align: right;
}

.spisok {
    list-style-type: none;
}

.author-category-input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    margin-top: 5px;
}

li {
    margin-top: 10px;
}

.zagolovok-input {
    border: 2px solid #0c0c0c;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 80%;
}

.zagolovok-input:focus {
    border-color: #07b148;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.soderzhaniye-input {
    border: 2px solid #0c0c0c;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 80%;
    height: 120px;
}

.soderzhaniye-input:focus {
    border-color: #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.create-button {
    background-color: #006b09;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.create-button:hover {
    background-color: #07b148;
}

.archive-ol {
    list-style-type: square;
}
